.navbar-brand,
.nav-link,
.navbar-toggler-icon {
  color: white;
}

.navbar .navbar-toggler {
  border-color: white;
}
.nav-item{
  border-bottom:3px;
  border-bottom:3px solid transparent;
}
.navbar-brand img:hover,
.nav-item:hover{
border-bottom-color: whitesmoke;
box-shadow: 0 14px 20px -4px rgba(0,0,0,.25);
transform: scale(1.1);
background-color: #c0777e;
font-weight:bold;
border-radius: 4px;
transition:all 0.3s ease;
}

.nav-link:hover {
  color:white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.img-container img {
  max-width: 100px;
  max-height: 100px;
}

.balloon2-left::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  transform: translateY(-50%);
  border: 12px solid transparent;
  border-right: 14px solid #FFF;
  z-index: 2;
}

.balloon2-left:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #6c757d;
}


#countdown {
  font-size: 2rem;
  margin-top: 20px;
  display: inline;
}
.prefix {
  font-size: 1.5rem;
  vertical-align: middle;
}
.days {
  font-size: 3rem;
  font-weight: bold;
  color: #dc3545; /* Bootstrapの危険（赤色）の色を使用 */
  vertical-align: middle;
}
.suffix {
  font-size: 1.5rem;
  vertical-align: middle;
}


.title-frame {
  border: 3px solid #f55050;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 5vh;
}

.title {
  font-size: 50px;
  font-family: "BananaFont";
  color: #f55050;
}
