

.navbar {
  background-color: rgba(245, 80, 80, 0.995);
}

.navbar-brand,
.nav-link,
.navbar-toggler-icon {
  color: white;
}

.navbar .navbar-toggler {
  border-color: white;
}

.nav-link:hover {
  background-color: #cd9898; /* ヘッダーのリンクにホバーしたときの文字色 */
  color:white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#countdown {
  font-size: 2rem;
  margin-top: 20px;
  display: inline;
}
.prefix {
  font-size: 1.5rem;
  vertical-align: middle;
}
.days {
  font-size: 3rem;
  font-weight: bold;
  color: #dc3545; /* Bootstrapの危険（赤色）の色を使用 */
  vertical-align: middle;
}
.suffix {
  font-size: 1.5rem;
  vertical-align: middle;
}