body {
    font-family: Arial, sans-serif;
}

.map-container {
    position: relative;
    overflow: hidden;
}

.toggle-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    color: white;
    opacity: 1; /* 通常時は不透明 */
    transition: opacity 0.3s; /* なめらかに変化 */
}

.toggle-button.on {
    background-color: rgb(1, 88, 1); /* タッチ操作がONのときの色 */
}

.toggle-button.off {
    background-color: rgb(148, 0, 0); /* タッチ操作がOFFのときの色 */
}

/* カーソルがボタン上にある時に半透明にする */
.toggle-button:hover {
    opacity: 0.7;
}


